.title-main {
  color: gray;
  font-size: 32px;
  margin-left: 15px;
}

.item-main:not(:last-child) {
  margin-bottom: 10px;
}

.link-main {
  font-size: 22px;
}

.list-main {
  font-size: 22px;
  color: gray;
}
